.EventTile{
	left: 800px;
  text-align: center;
  height: 247px;
  width: 35%;
  margin:20px;
  background-color:lightsalmon;
  display:inline-block;
	position: fixed;

}

h1{
  display: inline-block;
  text-align: center;
}

.editButton2 {
  width: 30px;
  height: auto;
	background-color:lightsalmon;
	border-radius:10px;
	border:1px solid salmon;
	position:relative;
  left:170px; right:0; top:-10px; bottom:0;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:20px;
	text-align: center;
	text-decoration:none;
}
.editButton2:hover {
	background-color:salmon;
}
.editButton2:active {
	position:relative;
	top:-7px;
}