.RemindTile{
  text-align: center;
  height: 247px;
  width: 45%;
  margin:20px;
  display:inline-block;
	background-image: url('http://static.wixstatic.com/media/c571fe_63a9cbda160037c273f52d4653f2fbd7.png_srz_1080_814_85_22_0.50_1.20_0.00_png_srz');
	background-size: contain;
}

h1{
  display: inline-block;
  text-align: center;
}

.editButton3 {
  width: 30px;
  height: auto;
	background-color:lightgoldenrodyellow;
	border-radius:10px;
	border:1px solid gold;
	position:relative;
  left:120px; right:0; top:-10px; bottom:0;
	cursor:pointer;
	color: lightgray;
	font-family:Arial;
	font-size:20px;
	text-align: center;
	text-decoration:none;
}
.editButton3:hover {
	background-color:gold;
}
.editButton3:active {
	position:relative;
	top:-7px;
}