.SimpleTile{
  text-align: center;
  height: 247px;
  width: 45%;
  margin:20px;
  background-color:pink;
  display:inline-block;
}

.tileName{
  display: inline-block;
  text-align: center;
}

.editButton {
  width: 30px;
  height: auto;
	border-radius:10px;
	position:relative;
  left:170px; right:0; top:-10px; bottom:0;
	cursor:pointer;
	color: lightgray;
	font-family:Arial;
	font-size:20px;
	text-align: center;
	text-decoration:none;
}

.editButton:active {
	position:relative;
	top:-7px;
}