.Dashboard{
	height: 638px;
	width: 1102px;
	position: absolute;
	left:178px; top:0px;
	background-image: url("http://www.intrawallpaper.com/static/images/gradient-background.jpg")
}

.tileName{
  display: inline-block;
  text-align: center;
}

.editButton {
  width: 30px;
  height: auto;
	background-color:pink;
	border-radius:10px;
	border:1px solid lightcoral;
	position:relative;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:20px;
	text-align: center;
	text-decoration:none;
}
.editButton:hover {
	background-color:lightcoral;
}
.editButton:active {
	position:relative;
	top:-7px;
}